/* HTML5 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Open Sans", sans-serif; }

::-moz-selection {
  background: #f9a134;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #f9a134;
  color: #fff;
  text-shadow: none; }

.copy.p1 {
  font-size: clamp(0.9375rem, 1.5vw, 1.125rem);
  line-height: 1.5em; }

.site-content {
  background: #f2f2f2;
  min-height: 100vh;
  padding-bottom: 3rem; }

.grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: minmax(0, auto) repeat(6, minmax(auto, 1fr)) minmax(0, auto); }
  @media screen and (min-width: 480px) {
    .grid {
      grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto); } }
  @media screen and (min-width: 992px) {
    .grid {
      grid-template-columns: minmax(0, auto) repeat(12, minmax(auto, 4.5rem)) minmax(0, auto); } }
  .grid > * {
    grid-column: 2 / span 6; }
    @media screen and (min-width: 480px) {
      .grid > * {
        grid-column: 2 / span 8; } }
    @media screen and (min-width: 992px) {
      .grid > * {
        grid-column: 2 / span 12; } }

.site-header {
  border-top: 10px solid #72ccd2;
  background: #A0CF67;
  color: #fff;
  padding: 3rem 0; }
  @media screen and (min-width: 992px) {
    .site-header {
      padding: 4.5rem 0; } }
  @media screen and (min-width: 768px) {
    .site-header .site-logo {
      grid-column: 2 / span 3;
      padding-right: 2rem; } }
  .site-header .site-logo a {
    display: block; }
  .site-header .site-title {
    padding-top: 1.5rem; }
    @media screen and (min-width: 768px) {
      .site-header .site-title {
        padding-top: 0;
        grid-column: 5 / span 5; } }
    @media screen and (min-width: 992px) {
      .site-header .site-title {
        grid-column: 6 / span 8; } }
    .site-header .site-title h1 {
      font-weight: 300;
      line-height: 1.25em;
      font-size: clamp(1.5rem, 3vw, 2.5rem); }
    .site-header .site-title h2 {
      padding-top: 0.75rem;
      font-weight: 700;
      font-size: clamp(1rem, 1vw, 1.25rem);
      text-transform: uppercase;
      letter-spacing: 0.075em; }

.site-footer {
  background: #72ccd2;
  width: 100%;
  height: 2rem; }

body.page-template-homepage section.intro {
  padding: 3rem 0;
  background: #fff; }
  @media screen and (min-width: 992px) {
    body.page-template-homepage section.intro {
      padding: 4.5rem 0; } }
  @media screen and (min-width: 768px) {
    body.page-template-homepage section.intro .copy {
      grid-column: 5 / span 5; } }
  @media screen and (min-width: 992px) {
    body.page-template-homepage section.intro .copy {
      grid-column: 6 / span 8; } }
  body.page-template-homepage section.intro .copy h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: clamp(1.375rem, 2vw, 1.75rem);
    padding-bottom: 1rem;
    color: #f9a134; }
  body.page-template-homepage section.intro .copy p + p {
    padding-top: 1.5rem; }
  body.page-template-homepage section.intro .copy p + h3 {
    padding-top: 3rem; }
  body.page-template-homepage section.intro .copy a {
    text-decoration: underline; }

body.page-template-homepage section.filter {
  background: #72ccd2;
  color: #fff;
  padding: 3rem 0; }
  @media screen and (min-width: 992px) {
    body.page-template-homepage section.filter form {
      grid-column: 5 / span 7; } }
  body.page-template-homepage section.filter form .filter-input {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  body.page-template-homepage section.filter form label {
    width: 100%;
    display: block;
    padding-bottom: 0.625rem;
    font-size: 1.125rem;
    font-weight: 300; }
  body.page-template-homepage section.filter form input[type="search"] {
    flex: 1;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.25rem;
    color: #fff;
    padding: 0 0.625rem; }
    body.page-template-homepage section.filter form input[type="search"]::-webkit-input-placeholder {
      color: #fff; }
    body.page-template-homepage section.filter form input[type="search"]::-moz-placeholder {
      color: #fff; }
    body.page-template-homepage section.filter form input[type="search"]:-moz-placeholder {
      color: #fff; }
    body.page-template-homepage section.filter form input[type="search"]:-ms-input-placeholder {
      color: #fff; }
    body.page-template-homepage section.filter form input[type="search"]:active, body.page-template-homepage section.filter form input[type="search"]:focus {
      outline: none; }
  body.page-template-homepage section.filter form button {
    display: block;
    position: absolute;
    right: 0.625rem;
    bottom: 0.625rem;
    background: transparent url(images/search.svg) no-repeat center center;
    background-size: 1rem 1rem;
    width: 1.875rem;
    height: 1.875rem;
    border: none;
    text-indent: -9999px; }
    body.page-template-homepage section.filter form button:active, body.page-template-homepage section.filter form button:focus {
      outline: none; }

body.page-template-homepage section.documents {
  padding: 1rem 0;
  background: #f2f2f2; }
  @media screen and (min-width: 480px) {
    body.page-template-homepage section.documents {
      padding: 2rem 0;
      min-height: 50vh; } }

@media screen and (min-width: 992px) {
  body.page-template-homepage .documents-categories {
    grid-column: 2 / span 3; }
    body.page-template-homepage .documents-categories .sticky-wrapper {
      position: -webkit-sticky;
      position: sticky;
      top: 1rem; } }

body.page-template-homepage .documents-categories .section-header {
  background: #A0CF67;
  color: #fff;
  padding: 1.25rem; }
  body.page-template-homepage .documents-categories .section-header h4 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: clamp(1rem, 1vw, 1.125rem); }

body.page-template-homepage .documents-categories .categories-list {
  padding: 1.25rem; }
  body.page-template-homepage .documents-categories .categories-list h5 {
    font-style: italic;
    font-size: 1rem;
    background: #f9a134;
    color: #fff;
    display: inline-block;
    padding: 0.5rem; }
  body.page-template-homepage .documents-categories .categories-list ul {
    padding-top: 1rem;
    max-width: 20rem; }
    body.page-template-homepage .documents-categories .categories-list ul li {
      padding: 0.75rem 0; }
    body.page-template-homepage .documents-categories .categories-list ul a {
      display: inline-block;
      color: #000;
      font-weight: 600;
      font-size: clamp(0.8125rem, 1vw, 0.875rem);
      line-height: 1.5em; }
      body.page-template-homepage .documents-categories .categories-list ul a:hover {
        text-decoration: underline; }

body.page-template-homepage .documents-list {
  overflow-x: auto; }
  @media screen and (min-width: 992px) {
    body.page-template-homepage .documents-list {
      grid-column: 5 / span 9; } }
  body.page-template-homepage .documents-list table {
    width: calc(100% - 2px); }
    body.page-template-homepage .documents-list table thead {
      background: #A0CF67;
      color: #fff;
      text-align: left; }
      body.page-template-homepage .documents-list table thead th {
        font-weight: 600;
        text-transform: uppercase;
        font-size: clamp(1rem, 1vw, 1.125rem);
        padding: 1.25rem 0.675rem; }
        body.page-template-homepage .documents-list table thead th.cat {
          padding-left: 0.625rem; }
    body.page-template-homepage .documents-list table tbody td {
      padding: 1.25rem 0.675rem;
      vertical-align: middle; }
    body.page-template-homepage .documents-list table tbody a {
      color: #72ccd2;
      font-weight: 600; }
      body.page-template-homepage .documents-list table tbody a:hover {
        text-decoration: underline; }
    body.page-template-homepage .documents-list table tbody .cat-header {
      background: #f2f2f2;
      border-bottom: 1px solid #ccc;
      padding: 1.25rem 0 0.5rem 0; }
      body.page-template-homepage .documents-list table tbody .cat-header span {
        font-weight: 600;
        font-size: clamp(0.875rem, 1vw, 1.125rem);
        line-height: 1.25em;
        display: block;
        max-width: 30rem; }
    body.page-template-homepage .documents-list table tbody tr.file {
      background: #fff; }
      body.page-template-homepage .documents-list table tbody tr.file td {
        font-size: clamp(0.75rem, 1vw, 0.875rem);
        line-height: 1.25em;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc; }
        body.page-template-homepage .documents-list table tbody tr.file td:last-of-type {
          border-right: 1px solid #ccc; }
    body.page-template-homepage .documents-list table tbody tr.file + tr.header-row td,
    body.page-template-homepage .documents-list table tbody tr.header-row + tr.header-row td {
      padding-top: 4rem; }
    body.page-template-homepage .documents-list table .cat {
      max-width: 8rem; }
    body.page-template-homepage .documents-list table .date {
      min-width: 6rem; }
    body.page-template-homepage .documents-list table .author {
      max-width: 16rem; }
    body.page-template-homepage .documents-list table .title {
      min-width: 6rem; }
    body.page-template-homepage .documents-list table .file-type {
      min-width: 5rem;
      text-align: center;
      text-transform: uppercase; }
  body.page-template-homepage .documents-list.filtered .cat-header {
    display: none; }
