.site-header {
	border-top: 10px solid $esa-teal;
	background: $esa-green;
	color: $white;
	padding: 3rem 0;

	@include desktop-small {
		padding: 4.5rem 0;
	}
	
	@import "../template-parts/header/logo";

	@import "../template-parts/header/title";
}