.site-title {
    padding-top: 1.5rem;

    @include tablet {
        padding-top: 0;
        grid-column: 5 / span 5;
    }

    @include desktop-small {
        grid-column: 6 / span 8;
    }

    h1 {
        font-weight: 300;
        line-height: 1.25em;
        font-size: clamp(1.5rem, 3vw, 2.5rem);

    }

    h2 {
        padding-top: 0.75rem;
        font-weight: 700;
        font-size: clamp(1rem, 1vw, 1.25rem);
        text-transform: uppercase;
        letter-spacing: 0.075em;
    }
}