.documents-categories {
	@include desktop-small {
		grid-column: 2 / span 3;

		.sticky-wrapper {
			position: sticky;
			top: 1rem;
		}
	}

	.section-header {
		background: $esa-green;
		color: $white;
		padding: 1.25rem;

		h4 {
			font-weight: 600;
			text-transform: uppercase;
			font-size: clamp(1rem, 1vw, 1.125rem);
		}
	}

	.categories-list {
		padding: 1.25rem;

		h5 {
			font-style: italic;
			font-size: 1rem;
			background: $esa-orange;
			color: $white;
			display: inline-block;
			padding: 0.5rem;
		}

		ul {
			padding-top: 1rem;
			max-width: 20rem;

			li {
				padding: 0.75rem 0;
			}

			a {
				display: inline-block;
				color: $black;
				font-weight: 600;
				font-size: clamp(0.8125rem, 1vw, 0.875rem);
				line-height: 1.5em;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}	
}