.documents-list {
	overflow-x: auto;

	@include desktop-small {
		grid-column: 5 / span 9;
	}

	table {
		width: calc(100% - 2px);

		thead {
			background: $esa-green;
			color: $white;
			text-align: left;

			th {
				font-weight: 600;
				text-transform: uppercase;
				font-size: clamp(1rem, 1vw, 1.125rem);
				padding: 1.25rem 0.675rem;

				&.cat {
					padding-left: 0.625rem;
				}
			}
		}

		tbody {
			td {
				padding: 1.25rem 0.675rem;
				vertical-align: middle;
			}
			
			a {
				color: $esa-teal;
				font-weight: 600;

				&:hover {
					text-decoration: underline;
				}
			}

			.cat-header {
				background: $off-white;
				border-bottom: 1px solid #ccc;
				padding: 1.25rem 0 0.5rem 0;

				span {
					font-weight: 600;
					font-size: clamp(0.875rem, 1vw, 1.125rem);
					line-height: 1.25em;
					display: block;
					max-width: 30rem;
				}				
			}

			tr.file {
				background: $white;

				td {
					font-size: clamp(0.75rem, 1vw, 0.875rem);
					line-height: 1.25em;
					border-bottom: 1px solid #ccc;
					border-left: 1px solid #ccc;

					&:last-of-type {
						border-right: 1px solid #ccc;
					}
				}
			}

			tr.file + tr.header-row,
			tr.header-row + tr.header-row {
				td {
					padding-top: 4rem;
				}
			}
		}

		.cat {
			max-width: 8rem;
		}

		.date {
			min-width: 6rem;
		}

		.author {
			max-width: 16rem;
		}

		.title {
			min-width: 6rem;
		}

		.file-type {
			min-width: 5rem;
			text-align: center;
			text-transform: uppercase;
		}
	}
	
	&.filtered {
		.cat-header {
			display: none;
		}
	}
}