section.filter {
	background: $esa-teal;
	color: $white;
	padding: 3rem 0;

	form {
		@include desktop-small {
			grid-column: 5 / span 7;
		}

		.filter-input {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}

		label {
			width: 100%;
			display: block;
			padding-bottom: 0.625rem;
			font-size: 1.125rem;
			font-weight: 300;
		}

		input[type="search"] {
			flex: 1;
			background: rgba(255, 255, 255, 0.25);
			border: none;
			height: 3rem;
			line-height: 3rem;
			font-size: 1.25rem;
			color: $white;
			padding: 0 0.625rem;

			@include placeholder {
				color: $white;
			}

			&:active,
			&:focus {
				outline: none;
			}
		}

		button {
			display: block;
			position: absolute;
			right: 0.625rem;
			bottom: 0.625rem;
			background: transparent url(images/search.svg) no-repeat center center;
			background-size: 1rem 1rem;
			width: 1.875rem;
			height: 1.875rem;
			border: none;
			text-indent: -9999px;

			&:active,
			&:focus {
				outline: none;
			}
		}
	}
}