section.intro {
	padding: 3rem 0;
	background: $white;

	@include desktop-small {
		padding: 4.5rem 0;
	}
	
	.copy {
		@include tablet {
			grid-column: 5 / span 5;
		}

		@include desktop-small {
			grid-column: 6 / span 8;
		}

		h3 {
			font-weight: bold;
			text-transform: uppercase;
			font-size: clamp(1.375rem, 2vw, 1.75rem);
			padding-bottom: 1rem;
			color: $esa-orange;
		}

		p {			
			& + p {
				padding-top: 1.5rem;
			}
			
			& + h3 {
				padding-top: 3rem;
			}
		}

		a {
			text-decoration: underline;
		}
	}
}